@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

:root {
  --main-purple: #363062;
  --dark-purple: #3c3b66;
  --light-purple: #847cc1;
  --semi-light-purple: #4d4c7d;
  --orange: #f99417;
  --orange-active: #ff8d00;
  --white: #f5f5f5;
  --black: #1e1d32;
  --grey: #c6c5d1;
  --green-valid: #a8df8e;
  --red-invalid: #ed2b2a;
  --heading-font: "Raleway", sans-serif;
}
body {
  background-color: var(--white);
}
.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 200px;
}
.img-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  gap: 10px;
  align-items: center;
  background-image: url(images/BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--main-purple);
  height: 100vh;
  width: 714px;
}

.welcome-text {
  font-size: 5rem;
  font-weight: 800;
  color: var(--white);
  font-family: var(--heading-font);
}

.dummy-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--grey);
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 750px;
  height: 500px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

form {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
  flex-direction: column;
}

input {
  width: 350px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: var(--grey);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

input:valid {
  border: 2px solid var(--green-valid);
  box-shadow: 0px 0px 15px -3px var(--green-valid);
}
input:invalid {
  border: 2px solid var(--red-invalid);
  box-shadow: 0px 0px 15px -3px var(--red-invalid);
}

label {
  font-size: 1.05rem;
  font-weight: 600;
  color: var(--black);
  display: inline-block;
  text-align: left;
  width: 95%;
}

button {
  width: 350px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 500;
  background-color: var(--orange);
  transition: 150ms ease-in-out;
  cursor: pointer;
}

button:hover {
  font-size: 1.35rem;
  background-color: var(--main-purple);
  color: var(--orange);
}
button:active {
  background-color: var(--dark-purple);
  color: var(--orange-active);
}

.bottom-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.log-in {
  font-size: 1rem;
  font-family: var(--heading-font);
  font-weight: 500;
}
a {
  color: var(--orange-active);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--heading-font);
}
